* {
  box-sizing: border-box;
}

:root {
  --primary-color: #c8d5b9;
  --secondary-color: #8fc0a9;
  --background-color: #faf3dd;
  --text-color: #729db0;
  --temp-color:#416630;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #729db0;
  background-color: var(--background-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #68b0ab;
  background-color: var(--primary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #696d7d;
  text-align: center;
  text-decoration: none;
  color: #000;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: var(--secondary-color);
}

main {
  padding: 1rem;
  text-align: center;
}

nav a:hover {
  background-color: var(--text-color);
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.picture {
  display: flex;
  width: 230px;
  padding: 2rem;
  background-color: var(--secondary-color);
  text-decoration-color: var(--text-color);
  position: relative;
  top: 10px;
  left: 160px;
}

.picture2 {
  display: flex;
  padding: 2rem;
  background-color: var(--primary-color);
  width: 250px;
  position: relative;
  left: 70%;
}

.picture3 {
display: flex;
padding: 2rem;
position: relative;
width:270px;
background-color: #212d5a;
left: 200px;
transform: rotate(-25deg);
bottom: 200px;
}

.picture4 {
display: flex;
padding: 2rem;
position: relative;
width:270px;
background-color: #d1c7a8;
transform: rotate(25deg);
left: 65%;
bottom: 300px;
}

.content {
  padding: 1rem;
  margin-left: 75px;
  margin-right: 75px;
  font-size: 35px;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  display:flex;
  background-color: #9ddfc0;
}

.p2pic {
padding: 1rem;
position: relative;
transform: rotate(15deg);
left: 73%;
width: 200px;
bottom: 590px;
}

.content2 {
padding: 1rem;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
background-color: var(--temp-color);
bottom: 460px;
border-radius: 10px;
}

.p2pic2 {
padding: 1rem;
width: 200px;
position: relative;
transform: rotate(-15deg);
left: 10%;
}

.explain {
  padding: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display:flex;
  background-color: #9ddfc0;
  flex-direction: column;
  padding-left: 50px;
}

