* {
  box-sizing: border-box;
}

:root {
  --primary-color: #c8d5b9;
  --secondary-color: #8fc0a9;
  --background-color: #faf3dd;
  --text-color: #729db0;
  --temp-color:#416630;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #729db0;
  background-color: var(--background-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #68b0ab;
  background-color: var(--primary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #696d7d;
  text-align: center;
  text-decoration: none;
  color: #000;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: var(--secondary-color);
}

main {
  padding: 1rem;
}

nav a:hover {
  background-color: var(--text-color);
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.picture {
  display: flex;
  width: 200px;
  padding: 2rem;
  background-color: var(--secondary-color);
  text-decoration-color: var(--text-color);
  position: relative;
  top: 10px;
  left: 160px;
}

.picture2 {
  display: flex;
  padding: 2rem;
  background-color: var(--primary-color);
  width: 200px;
  position: relative;
  top: 100px;
  left: 320px;
}

.content {
  padding: 1rem;
  width: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 50%;
}

.p2pic {
padding: 1rem;
position: relative;

left: 85%;
width: 200px;
}

.content2 {
padding: 1rem;
width: 200px;
position: relative;
top: 175px;
left: 450px;
background-color: var(--temp-color);
}

.p2pic2 {
padding: 1rem;
width: 200px;
position: relative;
top: 550px;
left:800px;
}

.assignment{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 35px;
  align-items: center;
}

.picture3{
width: 45%;
display: flex;
padding: 1rem;
min-width: 200px;
}

